@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* app/globals.css */
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
}


@keyframes indeterminate {
  0%   { transform: translateX(-60%); }
  100% { transform: translateX(160%); }
}

.progress-indeterminate {
  position: absolute;
  inset: 0;
  width: 40%;
  height: 100%;
  border-radius: 9999px;
  background: #FFD700;
  box-shadow: 0 0 10px #FFD700, 0 0 20px #F9B208;
  animation: indeterminate 1.1s ease-in-out infinite;
}
