:root {
  --color-primary: #b895fe;
  --white: #ffffff;
}

.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* animation */
@keyframes pageTurn {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.book {
  border: 2.8px solid var(--color-primary);
  border-radius: 0.25rem;
  padding: 2rem;
  perspective: 37.5rem;
  position: relative;
  width: 100px;
  height: 45px;
  display: flex;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  border: none;
  padding: 0;
  background: transparent;
}

.page {
  position: absolute;
  width: 75px;
  height: 95px;
  left: 0.25rem;
  top: 0.25rem;

  border: 2.8px solid var(--color-primary);

  background-color: var(--white);
  background-image: repeating-linear-gradient(
    var(--color-primary) 0 0.125rem,
    hsla(223, 10%, 10%, 0) 0.125rem 0.5rem
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem 4.125rem, 100% 100%;

  transform-origin: 100% 50%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
}

.page:not(.backPage) {
  border-right-width: 1px;
}

.backPage {
  left: 50%;
  border-left-width: 1px;
}

.pageFlip:nth-of-type(2) {
  z-index: 30;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 0s infinite;
}
.pageFlip:nth-of-type(3) {
  z-index: 20;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.2s infinite;
}
.pageFlip:nth-of-type(4) {
  z-index: 10;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1s infinite;
}
