@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap");
.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-bold {
  font-family: "Aref Ruqaa", serif;
  font-weight: 700;
  font-style: normal;
}

.logo {
  position: relative;
  background: url("../public/assests/images/bg.jpg");
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.logo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(240, 243, 210, 0.704);
  z-index: 1;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.logo > * {
  position: relative;
  z-index: 2;
}
